body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 8px;
}
.container {
    display: grid;
    gap: 20px;
    background-color: #fff;
    padding: 8px;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
}

.box {
    display: grid;
    gap: 10px;
    background-color: #ccc;
    padding: 8px;
    border: 1px solid #999;
    text-align: center;
}

.box1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box1--1 {
    grid-column: 2/-7;
}

.box1--2 {
    grid-column: 7/-2;
}

.box2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box2--1 {
    grid-column: 1/1
}

.box2--2 {
    grid-column: 4/4;
}

.box2--3 {
    grid-column: 5/5;
}

.box2--4 {
    grid-column: 6/6;
}

.box3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px;
    gap: 10px;
}

.box3--1 {
    grid-column: 1/1;
}
.box3--2 {
    grid-column: 2/2;
}
.box3--3 {
    grid-column: 5/5;
}
.box3--4 {
    grid-column: 6/6;
}

.box4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box4--1 {
    grid-column: 5/5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box4--2 {
    grid-column: 6/6;
}
.box4--3 {
    grid-column: 6/6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box5--1 {
    grid-column: 3/3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box5--2 {
    grid-column: 4/4;
}
.box5--3 {
    grid-column: 4/4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box div {
    background-color: #eee;
    padding: 20px;
    border: 1px solid #999;
    text-align: center;
}
